{% extends "base.html" %}

{% block title %}Registrar Venta{% endblock %}

{% block content %}
<h1>Registrar Venta</h1>
<form method="POST">
    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo" required>
    
    <label for="talla">Talla:</label>
    <input type="number" id="talla" name="talla" required>
    
    <label for="fecha">Fecha:</label>
    <input type="datetime-local" id="fecha" name="fecha">
    
    <button type="submit">Registrar Venta</button>
</form>
{% endblock %}
